* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
}

header.header {
  position: sticky;
  top: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 6px 8px 0 rgba(37, 37, 39, 0.37);
  z-index: 100;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1px 0px;
}
header.header div .class-logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 1px 0px;
}
header.header nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
header.header nav ul {
  list-style: none;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px outset rgba(255, 255, 255, 0.381);
  background-color: rgb(133, 133, 133);
  width: 100%;
}
header.header .seudo-hoover:hover {
  color: rgba(0, 0, 0, 0.5176470588);
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.2588235294);
  font-size: small;
}
header.header .navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  width: auto;
}
header.header .navbar-expand-lg .navbar-collapse {
  padding: 0px 90px 0px 90px;
  background-color: rgb(255, 255, 255);
}
header.header .bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: white(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
  padding: 10px 0px 0px 0px;
}
header.header .btn-outline-success {
  --bs-btn-color: $cl-black;
  --bs-btn-border-color: #0000003f;
  --bs-btn-hover-color: $cl-white;
  --bs-btn-hover-bg: $cl-black;
  --bs-btn-hover-border-color: $cl-black;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: $cl-white;
  --bs-btn-active-bg: $cl-black;
  --bs-btn-active-border-color: $cl-black;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: $cl-black;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: $cl-black;
  --bs-gradient: none;
}
header.header div .class-carrito {
  position: absolute;
  display: inline-block;
  flex-wrap: wrap;
  right: 110px;
  bottom: 45px;
  background-color: rgb(116, 116, 116);
}

main.main {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "carrusel carrusel carrusel" "pagos pagos pagos" "cuotas transferencia wpp " "sofa sillas respaldo" "recomendaciones recomendaciones recomendaciones";
  gap: 50px 0px;
}
main.main .section-carru {
  grid-area: carrusel;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
main.main .section-carru .carousel {
  width: 90%;
}
main.main .section-carru .slide {
  width: 95%;
}
main.main .div-main-pagos {
  grid-area: pagos;
  border: 2px solid rgba(107, 107, 107, 0.749);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
}
main.main .div-main-cuotas {
  grid-area: cuotas;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 10px;
}
main.main .div-main-transferencia {
  grid-area: transferencia;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-left: 2px solid rgba(107, 107, 107, 0.749);
  border-right: 2px solid rgba(107, 107, 107, 0.749);
}
main.main .div-main-wpp {
  grid-area: wpp;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
main.main .div-img-sofa {
  grid-area: sofa;
}
main.main .div-img-sillas {
  grid-area: sillas;
}
main.main .div-img-respaldo {
  grid-area: respaldo;
}
main.main .section-prod {
  grid-area: recomendaciones;
}
main.main .div-2 {
  display: flex;
  color: rgba(85, 85, 85, 0.796);
  padding: 0px 0px;
}
main.main .div-2 div {
  margin: 10px 10px;
}
main.main .div-respaldo-sillas-sofa h3 {
  color: white;
  text-shadow: 1.5px 1.5px rgba(85, 85, 85, 0.796);
  border: 2px outset black;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
}
main.main .card {
  width: 60%;
  text-align: center;
  color: white;
}
main.main .text-bg-dark {
  color: white !important;
  background-color: white(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
}
main.main .seudo-img-hover:hover {
  zoom: 1.5;
  border: none;
  border-radius: none;
}
main.main .seudo-img-hover:hover h3 {
  height: 100%;
  font-size: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 25px;
}

.inicio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  display: flex;
}
.inicio a {
  color: rgb(44, 44, 44);
  border: 2px outset rgba(116, 116, 116, 0.742);
  list-style: none;
  text-decoration: none;
}
.inicio a:hover {
  color: rgb(0, 0, 0);
  border: 2px outset rgba(0, 0, 0, 0.742);
  list-style: none;
  text-decoration: underline;
}

footer.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rgb(133, 133, 133);
  border-top: 1px solid black;
  margin: 20px 0px 0px 0px;
  padding: 30px 0px 20px 0px;
  color: black;
}
footer.footer .footer-div-navegacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
footer.footer .footer-div-navegacion a {
  color: black;
  text-decoration: none;
  padding: 5px;
}
footer.footer .footer-div-navegacion a:hover {
  color: rgba(53, 53, 53, 0.7215686275);
  text-decoration: underline;
}
footer.footer .footer-div-mediosdepago a .img-card {
  padding: 2px;
}
footer.footer .footer-div-envio a .img-card {
  padding: 2px;
}
footer.footer .footer-redes-sociales {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer.footer .footer-redes-sociales a {
  color: black;
  padding: 10px;
  text-decoration: none;
}
footer.footer .footer-redes-sociales a:hover {
  color: rgba(53, 53, 53, 0.7215686275);
  text-decoration: underline;
}
footer.footer .footer-contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer.footer .footer-contacto a {
  color: black;
  padding: 10px;
  text-decoration: none;
}
footer.footer .footer-contacto a:hover {
  color: rgba(53, 53, 53, 0.7215686275);
  text-decoration: underline;
}

.main-productos .producto-h3 {
  text-align: center;
  border: 1px solid black;
  width: 50%;
  margin: 15px auto;
  padding: 15px;
}
.main-productos .todos-los-produtos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-productos .todos-los-produtos .card {
  margin: 10px;
  background-color: rgba(111, 111, 111, 0.6745098039);
  box-shadow: 0px 0px 8px 0 rgba(37, 37, 39, 0.756);
}
.main-productos .todos-los-produtos .card .card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  display: flex;
  flex-direction: nowrap;
  flex-wrap: row;
  align-items: center;
  justify-content: space-between;
}
.main-productos .todos-los-produtos .card .card-body .card-link {
  color: white;
}
.main-productos .todos-los-produtos .card .card-body .card-link:hover {
  color: black;
}

.div-main-pagos {
  grid-area: pagos;
  border: 2px solid rgba(107, 107, 107, 0.749);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.main-contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  border: 1px solid black;
  padding: 50px;
  margin: 2px auto;
  border: 1px solid rgb(204, 191, 172);
  background-color: rgba(153, 153, 153, 0.205);
}
.main-contacto h1 {
  border-bottom: 1px solid rgb(88, 88, 88);
}
.main-contacto div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 800px;
  padding: 10px;
  margin: 10px;
}
.main-contacto div label {
  padding: 5px;
}
.main-contacto div input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 35px;
}
.main-contacto .class-iframe-h3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(109, 109, 109);
}
.main-contacto .class-iframe-h5 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px 20px;
}
.main-contacto .class-iframe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
}

.class-main-envio {
  font-family: "Concert One", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Mitr", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Prata", serif;
  color: black;
  padding: 20px 20px;
  margin: 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.308);
  display: grid;
  grid-template-rows: repeat(7, auto);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "foto1 foto1" "tiempo tiempo" "retiro retiro " "envios envios" "costos costos " "realizamos foto2" "realizamos foto2";
}
.class-main-envio .class-main-envio-foto-1 {
  grid-area: foto1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.class-main-envio .class-main-envio-h1 {
  grid-area: tiempo;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.class-main-envio .class-main-envio-h1 .tiempo {
  margin: 10px 0px 5px 0px;
  border-bottom: 10px inset black;
  border-bottom-style: double;
}
.class-main-envio .class-main-envio-h3-1 {
  grid-area: retiro;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 5px 0px 0px 0px;
}
.class-main-envio .class-main-envio-h3-1 p {
  padding: 0px 0px 10px 0px;
}
.class-main-envio .class-main-envio-h3-2 {
  grid-area: envios;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.308);
  width: 30%;
}
.class-main-envio .class-main-envio-h4 {
  grid-area: costos;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  border-bottom: 1px solid black;
  margin: 5px 0px 5px 0px;
  width: 25%;
}
.class-main-envio .class-main-envio-p {
  grid-area: realizamos;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 5px 0px 5px 0px;
}
.class-main-envio .class-main-envio-foto-2 {
  grid-area: foto2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1fr;
}

.producto-h3 {
  text-align: center;
  border: 1px solid black;
  width: 50%;
  margin: 15px auto;
  padding: 15px;
}

@media screen and (max-width: 960px) {
  .main-contacto div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    padding: 10px;
    margin: 10px;
  }
  .main-contacto div label {
    padding: 5px;
  }
  .main-contacto div input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 35px;
  }
}
@media screen and (max-width: 620px) {
  .main-contacto div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
    padding: 10px;
    margin: 10px;
  }
  .main-contacto div label {
    padding: 6px;
  }
  .main-contacto div input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 34px;
  }
}
@media screen and (max-width: 720px) {
  .class-main-envio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 578px) {
  main.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .class-main-envio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .class-main-envio .class-main-envio-foto-2 {
    grid-area: foto2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
