$cl-gris: rgb(51, 51, 51);
$bg-white: rgb(255, 255, 255) ;
//header
$box-shadow: rgba(37, 37, 39, 0.37);
$cl-black: black ;
$cl-white: white;
$cl-hd-hv:  #00000084;
$bg-hd-hv:  #00000042;
// main
$cl-bor: rgba(107, 107, 107, 0.749);
$cl-div: rgba(85, 85, 85, 0.796);
$bg-h3:  rgba(255, 255, 255, 0.15);
$box-shadow-h3: rgba(0, 0, 0, 0.1);; 
// footer
$bg-footer:  rgb(133, 133, 133);
$cl-ft-hv:  #353535b8;
// productos
$cl-shadow: rgba(37, 37, 39, 0.756);
$bg-gris: #6f6f6fac;
// contacto
$cl-bor-cont:  rgb(204, 191, 172);
$bg-cont : rgba(153, 153, 153, 0.205);
$cl-border:rgb(88, 88, 88);
$br-cl: rgb(109, 109, 109);
// envio
$cl-black-env : rgba(0, 0, 0, 0.308);